<div class="box" style="width:700px">
<%= simple_form_for @question do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Question</legend>
    <%= render "shared/error_messages", :target => @question %>

    <%= f.input :title, input_html: { class: "xxlarge" } %>
    
    <div class="control-group edit_tools">
      <label class="control-label"></label>
      <div class="controls">
        <%= render "editor_toolbar" %>
      </div>
    </div>
    <%= f.input :body, as: :text, input_html:{ :class => "questions_editor closewarning xxlarge", :style => "height:300px" } %>
    <%= f.input :tags, as: :select, collection: tag_list, input_html: { multiple: "multiple" } %>

    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary", 'data-disable-with' => t("common.saving") %>
      <%= link_to t("common.cancel"), questions_path, :class => "btn reset" %>
    </div>
  </fieldset>
<% end %>
</div>

