<div class="row-fluid question">
  <div class="title span8">
    <h3><%= link_to question.title, question_path(question) %></h3>
    <div class="tags">          
      <% question.tags.each do|tag| -%>
        <%= link_to tag_name(tag), tagged_with_questions_path(tag), class: "tag" %>
      <% end -%>
    </div>
  </div>  
  <div class="short-summary span3 offset1">
    <% if question.answers_count >= 1 %>
      <div class="answers stats-box shadow">
        <span class="item-count"><%= question.answers_count %></span>  
        <div><%= t("questions.units.answers", default: "answers") %></div> 
      </div>
    <% else %>
      <div class="answers stats-box">
        <span class="no-count"><%= t("questions.units.empty", default: "no") %></span>  
        <div><%= t("questions.units.answers", default: "answers") %></div> 
      </div>
    <% end %>

    <% if question.views_count >= 1 %>
      <div class="views stats-box shadow">
        <span class="item-count"><%= question.views_count %></span>  
        <div><%= t("questions.units.views", default: "views") %></div> 
      </div>
    <% else %>
      <div class="views stats-box">
        <span class="no-count"><%= t("questions.units.empty", default: "no") %></span>  
        <div><%= t("questions.units.views", default: "views") %></div> 
      </div>
    <% end %>

    <% if question.votes_average >= 1 %>
      <div class="votes stats-box shadow">
        <span class="item-count"><%= question.votes_average %></span>
        <div><%= t("questions.units.votes", default: "votes") %></div> 
      </div>
    <% else %>
      <div class="votes stats-box">
        <span class="no-count"><%= t("questions.units.empty", default: "no") %></span>
        <div><%= t("questions.units.votes", default: "votes") %></div> 
      </div>
    <% end %>
    <div style="clear:both"></div>
    <div class="userinfo">
      <%= time_ago_in_words(question.created_at) %><%= t("common.ago") %> <%= link_to question.user.name, question.user %> 
    </div>
  </div>
</div>