<h1>Questions Lists</h1>
<div class="row">
  <% @questions.each do |question|  %>
  <div class="span8">
    <p>
      <h3><%= link_to question.title, question_path(question) %></h3>
    </p>
    <div>
      <a>tag1</a> <a>tag2</a>
    </div>
    <div>
      author: <%= question.user.name %> • <%= time_ago_in_words(question.created_at) %> ago • votes <%= question.votes_count %> • views <%= question.views_count %> • answers <%= question.answers_count %>
    </div>
  </div>
  <% end %>
</div>

