<% if current_tags.any? %>
<div class="selected-tags">
  <span style="font-family: sans-serif; font-size: 20px; margin: 0 6px;">Tagged</span>
  <% current_tags.each do |tag| -%>
    <div class="input-prepend input-append tag">
      <span class="add-on tag-name"><%= tag_name(tag) %></span>
      <span class="add-on remove-tag"><%= link_to 'x', tagged_with_questions_path(tag, true) %></span>
    </div>
  <% end -%>
</div>
<% end -%>
<div class="box box_gray">
  <div id="sort_tabs" class="pagination">
    <div style="display: inline; margin-left: 10px; color: #7EA9B3;"><h3 style="display: inline;"><%= @questions.count %> questions</h3></div>
    <ul class="tab_pos">
      <li><span><%= t("menu.sorts.title", default: "Sort by") %> »</span></li>
      <% [:newest, :activity, :answers, :hot, :votes].each do |order| -%>
        <% if order == current_order_name -%>
          <li class="active"><%= link_to "#{t("menu.sorts.#{order}", default: "#{order.to_s.humanize}")}▼", questions_path(order: order) %></li>
        <% else -%>
          <li><%= link_to t("menu.sorts.#{order}", default: "#{order.to_s.humanize}"), questions_path(order: order) %></li>
        <% end -%>
      <% end -%>
    </ul> 
  </div>
  
  <div class="questions">
    <%= render @questions %>  
  </div>
  <div id="questions-pagination"><%= paginate @questions %></div>
  <% if current_tags.any? -%>
    <div class="alert alert-info">
          Did not find what you were looking for? 
      <%= link_to "Please, post your question!", new_question_path %>
    </div>
  <% end -%>
</div>


