<div class="row-fluid selected-tags">
<% current_tags.each do |tag| -%>
  <div class="input-prepend input-append tag">
    <span class="add-on tag-name"><%= tag %></span>
    <span class="add-on remove-tag"><%= link_to 'x', tagged_with_questions_path(tag, true) %></span>
  </div>
<% end -%>

</div>
<div id="sort_tabs" class="pagination">
  <ul class="breadcrumb">
    <li><span>Sort by »</span></li>
    <% [:newest, :activity, :answers, :hot, :votes].each do |order| -%>
      <% if order == current_order_name -%>
        <li class="active"><%= link_to "#{order.to_s.humanize}▼", questions_path(order: order) %></li>
      <% else -%>
        <li><%= link_to "#{order.to_s.humanize}", questions_path(order: order) %></li>
      <% end -%>
    <% end -%>
  </ul> 
</div>

<div class="row box">
  <%= render @questions %>
</div>

