<p id="notice"><%= notice %></p>

<div class="tools">
  <%= link_to '修改', edit_question_path(@question), :class => "btn btn-small btn-success" %>
  <%= link_to '返回', questions_path, :class => "btn btn-small" %>
</div>

<!--question -->
<div class="row">
  <div class="span1">
    <div class="vote-buttons">
      <div class="voteup"></div>
      <div class="votenumber">0</div>
      <div class="votedown"></div>
    </div>
  </div>
  <div class="span8">
    <h3><%= @question.title %></h3>
    <ul class="inline">
      tags: 
        <li>tag1</li>
        <li>tag2</li>
    </ul>
    <div>
      <div class="activity-info">   
        <div class="author">
          <div class="timeago_info">
            <span>
              asked <%= time_ago_in_words(@question.created_at)%> ago
            </span>
          </div>
          <div class="avatar_left">
            <img width="32" height="32" src="https://secure.gravatar.com/avatar/5067f92a9ada7ea2567c28bac9d6b118?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
          </div>
          <div class="user_info">
            <a href="#">username</a><br>
            <span>wojiao jinsanpangwojiao</span>
          </div>
          
        </div>
      </div>  
      <%= markdown @question.body %>
    </div>    
  </div>
</div>

<!--answers-->
<div class="row">
  <div class="span9">
    <div class="answers-tab span9">
      <span class="title" >2 answers</span>
      <div id="sort_tabs" class="pagination" style="margin: 0px; float: right;">
        <ul>
          <li><span>Sort by »</span></li>  
          <li>
            <a id="by_answers" href="/questions?sort=answers-desc" data-sort="answers-asc" title="click to see the most answered questions"><span>by answers</span></a>
          </li>
          <li>
            <a id="by_votes" href="/questions?sort=votes-desc" data-sort="votes-asc" title="click to see most voted questions"><span>by votes</span></a>
          </li>
        </ul> 
      </div>
    </div>
    <% @question.answers.each do |answer| %>
    <div class="row">
      <div class="span1">
        <div class="vote-buttons">
          <div class="voteup"></div>
          <div class="votenumber">0</div>
          <div class="votedown"></div>
        </div>
      </div>
      <div class="span8">
        <div>
          <div class="activity-info">   
            <div class="author">
              <div class="timeago_info">
                <span>
                  updated <%= time_ago_in_words(@question.created_at)%> ago
                </span>
              </div>
              <div class="avatar_left">
                <img width="32" height="32" src="https://secure.gravatar.com/avatar/5067f92a9ada7ea2567c28bac9d6b118?s=140&amp;d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
              </div>
              <div class="user_info">
                <a href="#">username</a><br>
                <span>wojiao jinsanpangwojiao</span>
              </div>  
            </div>
          </div>
          <div>  
          <%= markdown answer.body %>
          </div>
        </div>    
      </div>
    </div>
    <div class="answers-split span9">
    </div>
    <% end %>
  </div>
</div>

<!--answer box -->

<%= render "answers/form", question: @question %>