<%= form_for(Comment.new, remote: true) do |f| %>
  <div>
    <%= f.text_area :body, size: "2x3", class: "input-xxlarge" %>
    <%= f.hidden_field :commentable_id, value: commentable.id %>
    <%= f.hidden_field :commentable_type, value: commentable.class %>
  </div>
  <div>
    <%= f.submit "comment", class: "btn btn-primary" %>
    <a class="btn reset">cancel</a>
  </div>
<% end %>