<div class="row box">
  <h2 class="title"><%= t("users.title") %></h2>
  <div class="span3">
    <%= image_tag @user.avatar_url(:thumb) %>
    <% if @user != current_user %>
      <% followed = @user.followed_by?(current_user) -%>
      <%= link_to (followed ? "Unfollow" : "Follow"), "#", 
        data: { url: follow_user_path(@user), status: followed }, 
        class: "btn btn-small btn-primary follow-question" %>
    <% end %>  
  </div>
  <div class="span6 ">
    <table class="table table-hover">
      <tr>
        <td><%= t("users.name") %></td>
        <td><%= @user.name -%></td>
      </tr>
      <tr>
        <td><%= t("users.email") %></td>
        <td><%= @user.email -%></td>
      </tr>
      <tr>
        <td><%= t("users.following") %>:</td>
        <td><%= @user.following.count -%></td>
      </tr>
      <tr>
        <td><%= t("users.followers") %>:</td>
        <td><%= @user.followers_count -%></td>
      </tr>
      <tr>
        <td><%= t("users.last_sign_in") %></td>
        <td><%= @user.last_sign_in_at -%></td>
      </tr>
      <tr>
        <td><%= t("users.last_sign_in_ip") %></td>
        <td><%= @user.last_sign_in_ip -%></td>
      </tr>
    </table>
  </div>
</div>

<div class="box">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab"><%= t("users.my_questions") %></a></li>
      <li><a href="#tab2" data-toggle="tab"><%= t("users.recent_answers") %></a></li>
      <li><a href="#tab3" data-toggle="tab"><%= t("users.following_questions") %></a></li>
      <li><a href="#tab4" data-toggle="tab"><%= t("users.following") %></a></li>
      <li><a href="#tab5" data-toggle="tab"><%= t("users.followers") %></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <table class="table table-hover">
          <% @user.questions.each do |question| %>
            <tr><td><%= link_to question.title, question %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane" id="tab2">
        <table class="table table-hover">
          <% @user.answers.each do |answer| %>
            <tr>
              <td><%= link_to answer.question.title, answer.question %> <br/>reply: <%=  truncate(answer.body, :length => 50) %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane" id="tab3">
        <table class="table table-hover">
          <% @user.followed_questions.each do |question| %>
            <tr><td><%= link_to question.title, question %></td></tr>
          <% end %>
        </table>
      </div>
      <div class="tab-pane" id="tab4">
        <% @user.following.each do |f| %>
          <%= link_to f.name, f %>
        <% end %>
      </div>
      <div class="tab-pane" id="tab5">
        <% @user.followers.each do |f| %>
          <%= link_to f.name, f %>
        <% end %>
      </div>
    </div>
  </div>
</div>