<div class="row-fluid box answer">
  <div class="span1">
    <div class="vote-buttons">
      <div class="voteup"></div>
      <div class="votenumber">0</div>
      <div class="votedown"></div>
    </div>
  </div>

  <div class="span11" style="margin-left: 6px;">
    <%= render "shared/user_info",updated_text: "answered", created_at: answer.created_at, user: answer.user -%>
    <p>
      <%= markdown answer.body %>
    </p>
    <!--Comments-->
    <div class="comments">
      <div class="comment-items" id="<%= answer.id %>-comments">
        <%= render answer.comments -%>
      </div>
      <% if can? :create, Comment -%>
        <div class="comment">
          <label>post a comment</label>
          <div class="comment-form" style="display: none;">
            <%= render "comments/form", form_url: question_answer_comments_path(@question, answer) %>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>