<div class="answer-form-box">
<% answer ||= Answer.new %>
<%= simple_form_for([@question, answer], remote: true) do |f| %>
  <%= render "shared/error_messages", :target => answer  %>
  <fieldset>
    <div class="control-group edit_tools">
      <label class="control-label"></label>
      <div class="controls">
        <%= render "questions/editor_toolbar" %>
      </div>
    </div>
    <%= f.input :body, as: :text, label: false, input_html:{ :class => "answers_editor closewarning xxlarge", :style => "height:200px" } %>
    <%= f.input :question_id, :as => :hidden, :input_html => { :value => @question.id } %>
    <div class="form-actions">
      <%= f.submit t("common.save"), :class => "btn btn-primary" %> or 
      <%= link_to t("common.cancel"), question_path(@question), :class => "cancel-link btn", data: {dismiss: "modal"} %>
    </div>
  </fieldset>
<% end %>

  <div class="hide">
  <%= simple_form_for Photo.new, html: { class: "form-inline upload-photo-form" } do |f| %>
    <%= f.input :image, label: false, input_html: { 
      class: "upload-photo-images", multiple: true, name: "photo[image]" } %>
  <% end %>
  </div>
</div>