<div class="page-header">
  <h1><%%=t 'mongoid.models.<%= file_name %>', :default => <%= class_name %>.model_name.human.pluralize %></h1>
</div>

<h1><%%= t("mongoid.models.<%= file_name %>") %></h1>
<div id="<%= plural_table_name %>">
  <table class="table table-bordered table-striped table-condensed">
    <thead>
      <tr class="head">
      <td>编号</td>
      <% attributes.each do |attr| -%>
        <td><%%= t("mongoid.attributes.<%= file_name %>.<%= attr.name %>") %></td>
      <% end -%>
      <td>创建时间</td>
      <td class="opts"></td>
      </tr>
    </thead>
    <tbody>
      <%% @<%= plural_file_name %>.each do |item| %>
        <tr class="<%%= cycle("","even") %>">
          <td><%%= item.id %></td>
          <% attributes.each do |attr| -%>
            <td><%%= item.<%= attr.name %> %></td>
          <% end -%>
          <td><%%= l(item.created_at, :format => :long) %></td>
          <td>
            <%%= link_to edit_<%= singular_table_name %>_path(item.id), :class => 'btn btn-mini' do %>
              <i class="icon-pencil"></i><%%= t('.edit', :default => t("helpers.links.edit")) %>
            <%% end %>
            <%%= link_to <%= singular_table_name %>_path(item.id),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' do %>
              <i class="icon-trash"></i><%%= t('.destroy', :default => t("helpers.links.destroy")) %>
            <%% end %>
          </td>
        </tr>
      <%% end %>
    </tbody>
  </table>
</div>
<div class="tools">
  <a href="<%%= new_<%= singular_table_name %>_path %>" class="btn btn-small btn-success">新建</a>
</div>

